*{
    font-family: Arial;
}

.pop-up{
    display: none;
    position: fixed;
    inset: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

.pop-up-content{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;

    background-color: rgb(243, 243, 243);
    padding: 1.5rem;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.555);
    text-align: center;
}

.pop-up-buttons{
    margin-top: 1.5rem;
}

.cancel-button, .exit-button{
    border: 1px solid rgba(0, 0, 0, 0.425);
    background-color: rgb(9, 129, 228);
    padding: .5rem 1rem;
    width: 8rem;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    transition: .6s;

}

.cancel-button:hover, .exit-button:hover{
    background-color: rgb(9, 114, 199);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.pop-up-content p{
    color: rgb(43, 43, 43);
    border: 1px solid rgba(0, 0, 0, 0.671);
    border-radius: 4px;
    background: radial-gradient(circle, rgba(246,246,246,1) 2%, rgb(218, 218, 218) 90%);;
    padding: .4rem;
}
